In [6]:
# import libraries
import pandas as pd
import requests
import time

### Working With Youtube API to get my channel statistics

In [16]:
#filled in apikey and channel id with placeholder values
API_KEY = 'zzzz'
# Channel API key UCngE9vqqVRkY2NjbjiaG7dA
CHANNEL_ID = 'aaa'

In [37]:
#make API call 
pageToken = ""
url = "https://www.googleapis.com/youtube/v3/search?key="+API_KEY+"&channelId="+CHANNEL_ID+"&part=snippet,id&order=date&maxResults=10000"+pageToken
response = requests.get(url).json()

In [39]:
#build our dataframe
df = pd.DataFrame(columns=["video_id", "video_title","upload_date","view_count","comment_count"])

Empty DataFrame
Columns: [video_id, video_title, upload_date, view_count, comment_count]
Index: []

In [40]:
for video in response['items']:
    if video['id']['kind'] == "youtube#video":
        video_id = video['id']['videoId']
        video_title = video['snippet']['title']
        video_title = str(video_title).replace("&amp;","")
        upload_date = video['snippet']['publishedAt']
        upload_date = str(upload_date).split("T")[0]
        
        #collecting view and comment counts
        url_video_stats = "https://www.googleapis.com/youtube/v3/videos?id="+video_id+"&part=statistics&key="+API_KEY
        response_video_stats = requests.get(url_video_stats).json()

        view_count = response_video_stats['items'][0]['statistics']['viewCount']
        comment_count = response_video_stats['items'][0]['statistics']['commentCount']
       
        #save data in padas df
        df = df.append({'video_id': video_id, 'video_title': video_title,
                        'upload_date':upload_date, 'view_count':view_count,
                        'comment_count':comment_count}, ignore_index=True)

C:\Users\daukca\AppData\Local\Temp\5\ipykernel_7632\1234217472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id': video_id, 'video_title': video_title,
C:\Users\daukca\AppData\Local\Temp\5\ipykernel_7632\1234217472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id': video_id, 'video_title': video_title,
C:\Users\daukca\AppData\Local\Temp\5\ipykernel_7632\1234217472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id': video_id, 'video_title': video_title,
C:\Users\daukca\AppData\Local\Temp\5\ipykernel_7632\1234217472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id': video_id, 'video_title': video_title,
C:\Users\daukca\AppData\Local\Temp\5\ipykernel_7632\1234217472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id': video_id, 'video_title': video_title,
C:\Users\daukca\AppData\Local\Temp\5\ipykernel_7632\1234217472.py:17: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append({'video_id': video_id, 'video_title': video_title,

In [41]:
df

,video_id,video_title,upload_date,view_count,comment_count
0,fkoGtJt3x4M,Illenium - Story of my Life - Denver 2023,2023-06-18,492,1
1,FtbYVfIdNUQ,Gorgon City - Red Rocks 2023 - Tell Me It’s True,2023-04-28,141,0
2,IbnsarVFR_w,Snowmass 2022,2022-02-20,71,0
3,d7IEgYqq6Lo,Berthoud Pass Snowboarding May 2020,2020-05-24,60,0
4,9ikLHpyNc9A,Keystone snowboarding 2020 casey dauksas,2020-03-19,193,1
5,0kB7FyJityQ,random clips test,2014-06-08,92,0